html, body {
  background-color: #607D8B; }

.chat-messages {
  text-align: left;
  padding-left: 20px;
  width: 300px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #8B8EB2; }

.chat {
  max-width: 500px;
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%; }

.pastedImg {
  width: 20%; }

.pastedImg:hover {
  width: 40%;
  transition: 1s; }

.pastedVideo {
  width: 300px;
  height: 250px; }

.chat-textarea {
  resize: none;
  width: 100%;
  height: 70px;
  margin-bottom: -1px; }

.chat-name {
  margin-top: 7px;
  text-align: left; }

.chat-header {
  width: 100.5%;
  background-color: #3F51B5;
  height: 40px;
  border-radius: 20px 20px 0px 0px; }

.chat-cellar {
  width: 100.5%;
  background-color: #3F51B5;
  height: 40px;
  border-radius: 0px 0px 20px 20px; }
  .chat-cellar .chat-status {
    padding-top: 10px; }

@media screen and (max-device-width: 240px) {
  .chat-messages {
    width: 100px;
    margin: 0; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 240px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }

@media screen and (max-device-width: 320px) {
  .chat-messages {
    width: 225px;
    margin: 0; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 240px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }

@media screen and (max-device-width: 375px) {
  .chat-messages {
    width: 270px;
    margin: 0; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 285px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }

@media screen and (max-device-width: 425px) {
  .chat-messages {
    width: 310px;
    margin: 0; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 325px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }

@media screen and (max-device-width: 768px) {
  .chat {
    margin-left: 17%; }
  .chat-messages {
    width: 483px;
    margin: 0px; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 497px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }

@media screen and (max-device-width: 1024px) {
  .chat {
    margin-left: 25%; }
  .chat-messages {
    width: 483px;
    margin: 0px; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 497px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }

@media screen and (max-device-width: 1440px) {
  .chat {
    margin-left: 30%; }
  .chat-messages {
    width: 483px;
    margin: 0px; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 497px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }

@media screen and (max-device-width: 1920px) {
  .chat {
    margin-left: 40%; }
  .chat-messages {
    width: 483px;
    margin: 0px; }
  .pastedImg {
    width: 100px; }
  .pastedImg:hover {
    width: 40%;
    transition: 1s; }
  .pastedVideo {
    width: 150px;
    height: 100px; }
  .chat-textarea {
    resize: none;
    width: 497px;
    margin: 0;
    height: 70px;
    margin-bottom: -1px; } }
